body{
    background:
      repeating-linear-gradient(90deg, transparent, transparent 50px,
        rgba(255, 127, 0, 0.25) 50px, rgba(255, 127, 0, 0.25) 56px,
        transparent 56px, transparent 63px,
        rgba(255, 127, 0, 0.25) 63px, rgba(255, 127, 0, 0.25) 69px,
        transparent 69px, transparent 116px,
        rgba(255, 206, 0, 0.25) 116px, rgba(255, 206, 0, 0.25) 166px),
      repeating-linear-gradient(0deg, transparent, transparent 50px,
        rgba(255, 127, 0, 0.25) 50px, rgba(255, 127, 0, 0.25) 56px,
        transparent 56px, transparent 63px,
        rgba(255, 127, 0, 0.25) 63px, rgba(255, 127, 0, 0.25) 69px,
        transparent 69px, transparent 116px,
        rgba(255, 206, 0, 0.25) 116px, rgba(255, 206, 0, 0.25) 166px),
      repeating-linear-gradient(-45deg, transparent, transparent 5px,
        rgba(143, 77, 63, 0.25) 5px, rgba(143, 77, 63, 0.25) 10px),
      repeating-linear-gradient(45deg, transparent, transparent 5px,
        rgba(143, 77, 63, 0.25) 5px, rgba(143, 77, 63, 0.25) 10px);
    
}

nav{
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    vertical-align: middle;
    text-align: center;
    text-decoration: rgb(202, 159, 41)underline; 
    color: tomato;
    text-shadow: 1px 1px 2px burlywood, 0 0 1em white, 0 0 0.2em rgb(189, 145, 52);
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

form{
  vertical-align: middle;
    text-align: center;
}